{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
            <div class="col-md-4 col-sm-6 p-5">
                <div class="card statistics-card-1 overflow-hidden ">
                <div class="card-body">
                    <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                    <h5 class="mb-4">Nombre de membres</h5>
                    <div class="d-flex align-items-center mt-3">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">24 membres</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-5">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                        <h5 class="mb-4">Nombre d'entreprises </h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">24 entreprises</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p-5">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                        <h5 class="mb-4">Nombre d'abonnements pris</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">500</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 mt-5 mb-5">
                <div class="card table-card">
                        <div class="card-header d-flex align-items-center justify-content-between py-3">
                            <h5>Nouveaux comptes</h5>
                            <div class="dropdown">
                                <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none"
                                    href="#">
                                   Voir plus
                                </a>
                            </div>
                        </div>
                        <div class="card-body py-2 px-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-borderless table-sm mb-0">
                                    <tbody>
                                    
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <div class="d-inline-block p-3">
                                                        <h6 class="m-b-0">email</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-end p-3">
                                                <p class="mb-0"><i class="ph-duotone ph-circle text-warning f-12"></i> 12/12/12</p>
                                            </td>
                                        </tr>
                                    
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden ">
                <div class="card-body">
                    <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                    <h5 class="mb-4">Nombre Total de Tickets Vendus</h5>
                    <div class="d-flex align-items-center mt-3">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">24 tickets</h3>
                    <span class="badge bg-light-success ms-2">2%</span>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                        <h5 class="mb-4">Revenus Totaux</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">2490 €</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card statistics-card-1 overflow-hidden ">
                    <div class="card-body">
                        <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                        <h5 class="mb-4">Nombre de tickets invendus</h5>
                        <div class="d-flex align-items-center mt-3">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0">500</h3>
                            <span class="badge bg-light-success ms-2">98%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}